
<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <div class="my-2">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </div>
  </ng-template>

  <ng-template pTemplate="right">
    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
  </ng-template>
</p-toolbar>
<p-table #dt [value]="ficheDeRecherches" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
  <ng-template pTemplate="caption">
    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
      <h5 class="m-0">Manage ficheDeRecherche</h5>
      <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="ID">ID <p-sortIcon field="ID"></p-sortIcon></th>
      <th pSortableColumn="badge number">badge number <p-sortIcon field="badge number"></p-sortIcon></th>
      <th pSortableColumn="date">date<p-sortIcon field="date"></p-sortIcon></th>
      <th pSortableColumn="registration_number">registration_number <p-sortIcon field="registration_number"></p-sortIcon></th>
      <th pSortableColumn="Gravity">Gravity <p-sortIcon field="email"></p-sortIcon></th>
      <th pSortableColumn="status">Status <p-sortIcon field="localisation"></p-sortIcon></th>
      <th>actions</th>

      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ficheDeRecherche>
    <tr>
      <td>
        <p-tableCheckbox [value]="FicheRecherches"></p-tableCheckbox>
      </td>
      <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
        {{ficheDeRecherche.ficheDeRechercheId}}
      </td>
      <td style="width:14%; min-width:10rem;">
        <span class="p-column-title">ID</span>
<!--        {{ficheDeRecherche.policeOfficer.badgeNumber}}-->
      </td><td style="width:14%; min-width:10rem;">
      <span class="p-column-title">Name</span>
<!--      {{ficheDeRecherche.date}}-->
    </td>
      <td style="width:14%; min-width:8rem;">
        <span class="p-column-title">Price</span>
<!--        {{ficheDeRecherche.vehicleOwner.registration_number}}-->
      </td>

      <td style="width:14%; min-width:10rem;">
        <span class="p-column-title">Category</span>
<!--        {{ficheDeRecherche.gravity}}-->
      </td>
      <td style="width:14%; min-width:10rem;">
        <span class="p-column-title">Status</span>
<!--        {{ficheDeRecherche.status}}-->
      </td>
      <td>
        <div class="flex">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editficheDeRecherche(ficheDeRecherche)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteficheDeRecherche(ficheDeRecherche)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="ficheDeRecherche Details" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <!--        <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">-->

    <div class="formgrid grid">
      <div class="field col">
        <label for="badge_number">name</label>
        <input type="text" pInputText id="badge_number" [(ngModel)]="ficheDeRecherche.badge_number" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.badge_number}"/>

      </div>
      <div class="field col">
        <label for="date">email</label>
        <input type="text" pInputText id="date" [(ngModel)]="ficheDeRecherche.date" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.date}"/>

      </div>
      <div class="field col">
        <label for="registration_number">email</label>
        <input type="text" pInputText id="registration_number" [(ngModel)]="ficheDeRecherche.registration_number" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.registration_number}"/>

      </div>
    </div>
    <div class="field col">
      <label for="status">email</label>
      <input type="text" pInputText id="status" [(ngModel)]="ficheDeRecherche.status" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.status}"/>

    </div>
    <div class="field">
      <label for="gravity">email</label>
      <input type="text" pInputText id="gravity" [(ngModel)]="ficheDeRecherche.gravity" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.gravity}"/>
      <small class="ng-dirty ng-invalid" *ngIf="submitted && !ficheDeRecherche.gravity">email is required.</small>
<!--    </div><div class="field">-->
<!--    <label for="localisation">localisation</label>-->
<!--    <input type="text" pInputText id="localisation" [(ngModel)]="ficheDeRecherche.localisation" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.localisation}"/>-->
<!--    <small class="ng-dirty ng-invalid" *ngIf="submitted && !ficheDeRecherche.localisation">localisation is required.</small>-->
 </div>
  </ng-template>
  </p-dialog>

<!--  <ng-template pTemplate="footer">-->
<!--    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>-->
<!--&lt;!&ndash;    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"(click)="saveficheDeRecherche(ficheDeRecherche)" ></button>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;</p-dialog>&ndash;&gt;-->
<!--&lt;!&ndash;<p-dialog [(visible)]="NewficheDeRechercheDialog" [style]="{width: '450px'}" header="ficheDeRecherche Details" [modal]="true" class="p-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-template pTemplate="content">&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;        <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="formgrid grid">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="field col">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="name">name</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" pInputText id="name" [(ngModel)]="ficheDeRecherche.badge_number" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.badge_number}"/>&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="field col">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="surname">email</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" pInputText id="surname" [(ngModel)]="ficheDeRecherche.firstname" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.firstname}"/>&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="field">&ndash;&gt;-->
<!--&lt;!&ndash;      <label for="name">email</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="text" pInputText id="email" [(ngModel)]="ficheDeRecherche.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.name}"/>&ndash;&gt;-->
<!--&lt;!&ndash;      <small class="ng-dirty ng-invalid" *ngIf="submitted && !ficheDeRecherche.name">email is required.</small>&ndash;&gt;-->
<!--&lt;!&ndash;    </div><div class="field">&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="localisation">localisation</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" pInputText id="localisation" [(ngModel)]="ficheDeRecherche.localisation" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ficheDeRecherche.localisation}"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <small class="ng-dirty ng-invalid" *ngIf="submitted && !ficheDeRecherche.localisation">localisation is required.</small>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->

<!--&lt;!&ndash;  <ng-template pTemplate="footer">&ndash;&gt;-->
<!--&lt;!&ndash;    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"(click)="saveficheDeRecherche(ficheDeRecherche)" ></button>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;</p-dialog>&ndash;&gt;-->

<!--&lt;!&ndash;<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="flex align-items-center justify-content-center">&ndash;&gt;-->
<!--&lt;!&ndash;    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>&ndash;&gt;-->
<!--&lt;!&ndash;    <span *ngIf="ficheDeRecherche">Are you sure you want to deletea  <b>{{ficheDeRecherche.name}}</b>?</span>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-template pTemplate="footer">&ndash;&gt;-->

<!--&lt;!&ndash;    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="yes"  (click)="confirmDeleteSelected(ficheDeRecherche.id) "></button>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;</p-dialog>&ndash;&gt;-->

<!--&lt;!&ndash;<p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="flex align-items-center justify-content-center">&ndash;&gt;-->
<!--&lt;!&ndash;    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>&ndash;&gt;-->
<!--&lt;!&ndash;    <span>Are you sure you want to delete selected products?</span>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-template pTemplate="footer">&ndash;&gt;-->
<!--&lt;!&ndash;    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" ></button>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;</p-dialog>&ndash;&gt;-->
