.rejected-status,
.pending-status,
.accepted-status {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  font-size: 0.9em;
}

.rejected-status {
  color: red;
  background-color: #ffe6e6; /* Lighter red background */
}

.pending-status {
  color: #333; /* Black text color for better visibility */
  background-color: #ffeb99; /* Darker yellow background */
}

.accepted-status {
  color: green;
  background-color: #d9f4d9; /* Lighter green background */
}
